<nav class="navbar">
    <div class="navbar-left">
        <div class="logo">
            <i class="fa fa-project-diagram"></i>
            <span>ProjectMgmt <span class="badge">Employee</span></span>
        </div>
    </div>

    <div class="navbar-right">
        <div class="user-profile">
            <div class="user-info">
                <span class="user-name">{{ currentUser?.username }}</span>
                <span class="user-role">Employee</span>
            </div>
            <button class="btn-logout" (click)="logout()">
                <i class="fa fa-sign-out-alt"></i>
            </button>
        </div>
    </div>
</nav>